<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Image preview</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1447924848_3577814.css">

    <link rel="stylesheet" href="/styles/image-preview-react.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="image-area">
      <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3548524552,2380564594&fm=80" alt="image_1.png">
      <img src="https://attachments.tower.im/tower/4f6a97ad16bf4303ae002b24ff41e662?version=medium&filename=RD_11+Favorite+Industry_07-01-02.jpg" alt="image_2.png">
      <img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1849719102,768436127&fm=80" alt="image_3.png">
    </div>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/image-preview-react.js"></script>
    <script>require("react/app")()</script>
  </body>
</html>
